# Maven
target/
build/

# Eclipse / STS
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
out/
application-dev.properties

# VS Code
.vscode/

# OS
.DS_Store

# Local env files
application-local.properties
